.dropdown__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  color: #101828;
  background-color: #ffffff;
  border: 1px solid #e4e7ec;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.12);
  user-select: none;
  cursor: pointer;
}

.dropdown__full-width {
  width: 100%;
}

.dropdown__label-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__label {
  flex: 0.75;
}

.dropdown__menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(16, 24, 40, 0.1);
  border-radius: 0.5rem;
  border: 1px solid #e4e7ec;
}

.dropdown__menu-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.dropdown__menu-item:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.dropdown__menu-item:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

.dropdown__menu-item:hover {
  background-color: #f2f4f7;
}
